[Unit]
Description=Traefik reverse proxy
Requires=docker.service
After=network.target
After=syslog.target
After=docker.service

[Service]
Type=simple
User=traefik
Group=traefik
ExecStart=/usr/bin/traefik --configFile=/etc/traefik/traefik.toml

[Install]
WantedBy=multi-user.target